
<div class="container" *ngIf="showAll==true">

 <div >
     <input type="text" class="form-control" placeholder="Press user name to get user data..." id="searchUser" #username  (keyup)="getUserPerName(username.value)"/>
</div>
<br/>
<br/>

<table class="table table-striped"> 
    <tr>
        <th scope="col">ID</th>
        <th scope="col">name</th>        
      </tr>
  <tr *ngFor="let obj of users">  
        <td scope="row" [style.font-weight]="selectedUser?.id==obj.id?'bold':'normal'">{{obj.id}}</td> 
        <td scope="row" [style.font-weight]="selectedUser?.id==obj.id?'bold':'normal'">{{obj.name}}</td> 
  </tr>  
 </table>

</div>