
<br/>

<div *ngIf="showForm" class="container">
  <form #form="ngForm"  (ngSubmit)="submitForm(form)"> 
    <div class="form-group">
    <h3 *ngIf=!newUser>  {{selectedUser.name}}: </h3>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text"  id="name" class="form-control"  name="name"  required #userName="ngModel"  [(ngModel)]="selectedUser.name"/><br/>   
        <div  id="nameHelp" class="alert alert-danger" *ngIf="(userName.errors && userName.errors.required && (userName.dirty || userName.touched))">name is required. </div>
         
    </div>
    <div class="form-group">
      <label for="firstName">FirstName</label>
      <input type="text" id="firstName" class="form-control" name="firstName" [(ngModel)]="selectedUser.username"/><br/>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" placeholder="name@example.com" id="email" class="form-control" name="email" [(ngModel)]="selectedUser.email" #mailAddress="ngModel" required pattern="^[a-z0-9]+@[a-z0-9.-]+\.[a-z]{2,4}$"/><br/>
      <div class="alert alert-danger" *ngIf="(mailAddress.errors && mailAddress.errors.required && (mailAddress.dirty || mailAddress.touched))">mailAddressis required.</div>
      <div class="alert alert-danger" *ngIf="(mailAddress.errors && mailAddress.errors.pattern && form.touched)">Email format is invalid.</div>
    </div>

    <div class="form-group">
      <label for="city">City</label>
    <input type="text" id="city" class="form-control" name="city" [(ngModel)]="selectedUser.address.city"/><br/>
    </div>
    
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" id="phone" class="form-control" placeholder="1800-80-80-80" name="phone" #title="ngModel" [(ngModel)]="selectedUser.phone"  required minlength="5" maxlength="10"/><br/>
      <div *ngIf="title.errors && (title.dirty || title.touched)" class="alert alert-danger">
          <div [hidden]="!title.errors.minlength&& !form.touched">
            phone number must be at least 5 characters long.
          </div>
          <div [hidden]="!title.errors.maxlength&& form.touched">
            Title cannot be more than 10 characters long.
          </div>
      </div>
    </div>
    <div class="form-group">
      <label for="company">CompanyName</label>
      <input type="text" id="company" class="form-control" name="company" [(ngModel)]="selectedUser.company.name"/><br/>
    </div>
    <br/>
    </div>
    <input *ngIf="newUser" type="submit" value="create" class="btn btn-primary" [disabled]="!form.touched"/> 
    <input *ngIf="!newUser" type="submit" value="update" class="btn btn-primary"/> 
    <input *ngIf="!newUser" type="button" value="delete" class="btn btn-secondary" (click)="deleteUser();"/> 

   <!-- <div [hidden]="form.valid|| !form.touched">Error msg</div>-->

  </form>
  <router-outlet></router-outlet> 
    
  <app-all-data-users (id)="onUpdateUser($event)" [showAll]="false" ></app-all-data-users>
  
     
    <div *ngIf="showForm&&!newUser"> 
        <app-posts-child [posts]="this.data.posts" [showSearchPost]="false"></app-posts-child>
  </div>


</div>

<div *ngIf="updateMsg" class="container" >

  <h3 class="alert alert-success" role="alert">The user is updated successfully !</h3>

</div>


<div *ngIf="deleteMsg" class="container">
  
  <h3 class="alert alert-success" role="alert">The user is deleted successfully ! </h3>
  
</div>
  